@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
    --safe-top: env(safe-area-inset-top, 24px);
    --safe-bottom: env(safe-area-inset-bottom, 20px);
  }

  @font-face {
    font-family: 'ArabicAdd';
    src: url('/fonts/ArabicAdd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NumFont';
    src: local('Arial');
    unicode-range: U+0030-0039;
  }

  body {
    background-color: #111827;
    color: #ffffff;
    font-family: 'NumFont', 'ArabicAdd', system-ui, sans-serif !important;
    -webkit-tap-highlight-color: transparent; /* Remove blue tap box */
    -webkit-touch-callout: none; /* Disable long-press callouts */
    user-select: none; /* Prevent text selection */
  }
}

/* Custom Scrollbar for Webkit */